# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# When modifying this file `tox -e freeze-req` must be run to regenerate the requirements-frozen.txt.

#barbican 20.0.0 requires alebmic==1.16.1
alembic==1.16.1

kubeconfig
kubernetes
pbr
requests
chardet
urllib3
# kubeconfig
# kubernetes==29.0.0
# pbr<=5.5.1
# requests==2.23.0
# chardet>=3.0.2,<3.1.0
# urllib3>=1.21.1,<=1.25

# Openstack Epoxy 2025.1
# https://releases.openstack.org/epoxy/index.html
barbican==20.0.0

python-barbicanclient==7.1.0
python-keystoneclient==5.6.0

keystoneauth1==5.10.0
keystonemiddleware==10.9.0

oslo.cache==3.10.2
oslo.concurrency==7.1.0
oslo.config==9.7.1
oslo.context==5.7.1
oslo.db==17.2.1
oslo.i18n==6.5.1
oslo.log==7.1.0
oslo.messaging==16.1.0
oslo.metrics==0.11.0
oslo.middleware==6.3.1
oslo.policy==4.5.1
oslo.serialization==5.7.0
oslo.service==4.1.1
oslo.upgradecheck==2.5.0
oslo.utils==8.2.0
oslo.versionedobjects==3.6.0
